MONGODB_URL=mongodb://trannhan:23301982@pn@cluster0-shard-00-00.ptva6.mongodb.net:27017,cluster0-shard-00-01.ptva6.mongodb.net:27017,cluster0-shard-00-02.ptva6.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-8o7sna-shard-0&authSource=admin&retryWrites=true&w=majority